@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color: #7bf542;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --border: .2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid var(--black);
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #eee;
}


/* HEADER && NAVBAR  */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    display: flex;
    padding: 2rem 4rem;
    box-shadow: var(--box-shadow);
    background-color: #fff;
    justify-content: space-between;
}

.logo a {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--black) !important;
    list-style: none;
    /* text-transform: lowercase; */
    text-decoration: none;
}

.navbar a {
    color: var(--black);
    padding: 0 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
}

.navbar a:hover {
    color: var(--color);
}

.logo i {
    color: var(--color);
    margin-right: 8px;
    font-size: 2.3rem;
    text-align: center;
}

.icon-items {
    font-size: 1.1em;
    cursor: pointer;
    /* padding: 0 15px; */
}

.icon-items i {
    color: var(--color);
    padding: 0 .5em;
}

.icon-items i:hover {
    color: var(--black);
}